@import '~quill/dist/quill.snow.css';

.md-editor {
  width: 100%;
  position: relative;
  > input {
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
    border: 0;
  }
  .ql-toolbar {
    margin-top: -2px;
    max-height: 1px;
    padding: 0;
    border: none;
    border-bottom: 1px solid rgba(#000, 0);
    overflow: visible;
    transition: max-height 0.2s, border-color 0.2s, padding 0.2s;
    position: relative;
    z-index: 1;
    button {
      color: #707070;
    }
  }
  &.md-editor-focused .ql-toolbar {
    z-index: 3;
    border-color: rgba(#000, 0.12);
    max-height: 72px;
    padding: 8px 0;
    transition: max-height 0.2s, border-color 0.2s, padding 0.2s, z-index 0s 0.2s;
  }
  .ql-container {
    background: #fff;
    z-index: 2;
    border: none;
    height: auto;
    font-family: inherit;
    line-height: inherit;
    margin-bottom: 2px;
  }
  .ql-editor {
    padding: 5px 0 3px;
    font-size: 16px;
    &.ql-blank:before {
      color: rgba(#000, 0.56);
      font-style: normal;
    }
  }
  .ql-stroke, .ql-stroke-miter {
    stroke: currentColor !important;
  }
  .ql-fill {
    fill: currentColor !important;
  }
}

.ql-editor {
  line-height: inherit;
}

.md-input-container:not(.md-input-focused) .md-editor {
  .ql-container {
    background: transparent;
  }
  .ql-toolbar {
    display: none;
  }
}

.md-mention[data-current] {
  display: inline-block;
}

$r: 3px;
.md-mention[data-focused],
.md-mention[href] {
  text-decoration: none !important;
  display: inline-block;
  white-space: nowrap;
  border-radius: $r;
  background: rgba(#000, 0.03);
  border: 1px solid rgba(#000, 0.12);
  padding-right: $r;
}
.md-mention[data-focused] {
  padding-right: $r;
  color: inherit !important;
  &:before {
    display:inline-block;
    content: attr(data-key);
    background: rgba(#000, 0.06);
    padding: 0 $r;
    margin-right: $r;
  }
}
.md-mention[href] {
  line-height: 20px - $r;
  > i {
    display: inline-block;
    color: rgba(#000, 0.48);
    font-style: normal;
    padding: 0 $r / 2 0 $r;
    font-size: 13px;
    position: relative;
    top: -0.5 * $r;
  }
  &:hover {
    border-color: rgba(#000, 0.18);
  }
}
.md-mentions-autocomplete {
  display: none;
  position: absolute !important;
}