.md-button.md-link {
  padding: 0;
  min-width: 0;
  min-height: 0;
  margin: 0;
  line-height: 24px;
  &:hover {
    background: transparent !important;
    text-decoration: underline !important;
  }
}
span.md-link,
span.md-icon-link,
a.md-link,
a.md-icon-link {
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  &:hover {
    text-decoration: underline;
  }
  .md-icon {
    vertical-align: text-top;
  }
  &.md-icon-link {
    position: relative;
    margin-left: 20px;
    .md-icon {
      position: absolute;
      left: -20px;
      top: 0;
    }
  }
}

.md-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  text-align:center;
  border-radius: 50%;
  margin: 0;
  min-width: 16px;
  height: 16px;
  opacity: 1.0;
  position: relative;
  z-index: 2;
}
.md-icon-button .md-badge {
  position: absolute;
  right: 0;
  top: 2px;
}

[data-md-badge] {
  &:after {
    content: attr(data-md-badge);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;
    text-align:center;
    border-radius: 50%;
    margin: 0;
    min-width: 16px;
    height: 16px;
    opacity: 1.0;
    position: relative;
    z-index: 2;
  }
  &.md-icon-button {
    overflow: visible;
    &:after {
      position: absolute;
      right: 0;
      top: 2px;
    }
  }
}

.md-icon.md-mini,
.md-badge .md-icon {
  font-size: 12px;
  min-width: 12px;
  width: 12px;
  min-height: 12px;
  height: 12px;
  line-height: 12px;
}
.md-icon.md-small,
span.md-icon-link .md-icon,
span.md-link .md-icon,
a.md-icon-link .md-icon,
a.md-link .md-icon,
.md-caption .md-icon {
  $width: 18px;
  font-size: $width;
  min-width: $width;
  width: $width;
  min-height: $width;
  height: $width;
  line-height: $width;
  position: relative;
}
div.md-caption,
p.md-caption {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  > :not(.md-icon) {
    flex: 1 0 0;
    max-width: 100%;
  }
  .md-icon {
    margin: 0;
    margin-right: 8px;
  }
}
.md-chip {
  $height: 20px;
  $padding-top: 3px;
  height: $height;
  border-radius: 12px;
  font-size: 12px;
  line-height: 12px;
  padding: $padding-top 8px;
  border: 1px solid rgba(#000, 0.12);
  background: rgba(#000, 0.06) !important;
  margin: 2px 0;
  cursor: default;
  &.md-deletable {
    padding-right: 24px;
    &:hover, &:focus {
      color: inherit !important;
      .md-delete {
        color: inherit !important;
      }
    }
  }
  .md-button.md-delete {
    $width: 18px;
    width: $width;
    min-width: $width;
    height: $width;
    min-height: $width;
    border-radius: 0;
    top: $height - $padding-top - $width;
    right: 2px;
    .md-icon {
      width: $width;
      min-width: $width;
      height: $width;
      min-height: $width;
      font-size: $width;
    }
  }
}

.md-nav-bar {
  $padding: 8px;
  $sidebar-width: 64px;
  &:not(.md-navbar-vert) {
    .md-button:not(.md-active) {
      color: rgba(#000, 0.64);
      &:hover {
        color: inherit;
      }
    }
  }
  hr {
    border: none;
    height: 40px;
    width: 1px;
    margin: 0 8px;
    display: inline-block;
  }
  .md-app-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0 12px 0 0;
    img {
      height: 100%;
    }
  }
  &.md-navbar-vert {
    width: $sidebar-width;
    flex-flow: column wrap-reverse;
    overflow: visible;
    padding: $padding;
    .md-app-icon {
      width: 32px;
      height: 32px;
      margin: 0 0 12px;
    }
    hr {
      height: 1px;
      width: 40px;
      margin: 8px 0;
    }
  }
  .speed-dial-container {
    display: inline-block;
    max-width: 100%;
    height: 40px;
    width: 40px;
    overflow: visible;
    position: relative;
    .md-speed-dial {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  .md-navbar-button-group {
    text-align: center;
  }
  > .md-button,
  > .md-navbar-button-group > .md-button {
    margin: 6px 0;
    overflow: visible;
    &:hover {
      background: transparent !important;
    }
    &.md-active,
    &.router-link-active {
      border-radius: 4px;
    }
    &.md-icon-button {
      margin: 0;
    }
  }
  > .md-menu > .md-button.md-active {
    border-radius: 4px 4px 0 0;
  }
  &.md-navbar-vert {
    > .md-menu > .md-button.md-active {
      border-radius: 0 0 4px 4px;
    }
  }
}

.md-list-item .md-list-item-container > .md-icon:first-child {
  margin-right: 16px;
}
.md-list-item.md-inset .md-list-item-container {
  padding-left: 56px;
}
.md-list-item-container > .md-button {
  margin: 0;
}