.md-button.md-link {
  padding: 0;
  min-width: 0;
  min-height: 0;
  margin: 0;
  line-height: 24px;
  &:hover {
    background: transparent !important;
    text-decoration: underline !important;
  }
}
span.md-link,
span.md-icon-link,
a.md-link,
a.md-icon-link {
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  &:hover {
    text-decoration: underline;
  }
  .md-icon {
    vertical-align: text-top;
  }
  &.md-icon-link {
    position: relative;
    margin-left: 20px;
    .md-icon {
      position: absolute;
      left: -20px;
      top: 0;
    }
  }
}

.md-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  text-align:center;
  border-radius: 50%;
  margin: 0;
  min-width: 16px;
  height: 16px;
  opacity: 1.0;
  position: relative;
  z-index: 2;
}
.md-icon-button .md-badge {
  position: absolute;
  right: 0;
  top: 2px;
}

.md-icon.md-mini,
.md-badge .md-icon {
  font-size: 12px;
  min-width: 12px;
  width: 12px;
  min-height: 12px;
  height: 12px;
  line-height: 12px;
}
.md-icon.md-small,
span.md-icon-link .md-icon,
span.md-link .md-icon,
a.md-icon-link .md-icon,
a.md-link .md-icon,
.md-caption .md-icon {
  $width: 18px;
  font-size: $width;
  min-width: $width;
  width: $width;
  min-height: $width;
  height: $width;
  line-height: $width;
  position: relative;
}
div.md-caption,
p.md-caption {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  > :not(.md-icon) {
    flex: 1 0 0;
    max-width: 100%;
  }
  .md-icon {
    margin: 0;
    margin-right: 8px;
  }
}
.md-chip {
  $height: 20px;
  $padding-top: 3px;
  height: $height;
  border-radius: 12px;
  font-size: 12px;
  line-height: 12px;
  padding: $padding-top 8px;
  border: 1px solid rgba(#000, 0.12);
  background: rgba(#000, 0.06) !important;
  margin: 2px 0;
  cursor: default;
  &.md-deletable {
    padding-right: 24px;
    &:hover, &:focus {
      color: inherit !important;
      .md-delete {
        color: inherit !important;
      }
    }
  }
  .md-button.md-delete {
    $width: 18px;
    width: $width;
    min-width: $width;
    height: $width;
    min-height: $width;
    border-radius: 0;
    top: $height - $padding-top - $width;
    right: 2px;
    .md-icon {
      width: $width;
      min-width: $width;
      height: $width;
      min-height: $width;
      font-size: $width;
    }
  }
}
.md-nav-bar > .md-button {
  margin: 6px 0;
  overflow: visible;
  &:first-child {
    margin-left: -8px;
    margin-right: 0;
  }
  &:hover {
    background: transparent !important;
  }
  &.md-active,
  &.router-link-active {
    &:after {
      content: "";
      display: block;
      height: 2px;
      background: #fff;
      position: absolute;
      bottom: -6px;
      left: 0;
      right: 0;
    }
  }
  &.md-icon-button {
    margin: 0;
  }
}

.md-list-item .md-list-item-container > .md-icon:first-child {
  margin-right: 16px;
}
.md-list-item.md-inset .md-list-item-container {
  padding-left: 56px;
}
.md-list-item-container > .md-button {
  margin: 0;
}