.md-button.md-link {
  padding: 0;
  min-width: 0;
  min-height: 0;
  margin: 0;
  line-height: 24px;
  &:hover {
    background: transparent !important;
    text-decoration: underline !important;
  }
}
.md-nav-bar > .md-button {
  margin: 6px 0;
  overflow: visible;
  &:first-child {
    margin-left: -8px;
    margin-right: 0;
  }
  &:hover {
    background: transparent !important;
  }
  &.md-active,
  &.router-link-active {
    &:after {
      content: "";
      display: block;
      height: 2px;
      background: #fff;
      position: absolute;
      bottom: -6px;
      left: 0;
      right: 0;
    }
  }
}